.header-bg{
  background: #000;
}

.header {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.25rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  justify-content: center;
}

.header-menu a {
  font-size: 1.1125rem;
  line-height: 1.3;
  padding: 0.625rem 1.25rem;
  display: block;
  color: #fff;
}
