.bicicletas-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 30%);
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bicicletas-imagem {
  position: relative;
}

.bicicletas-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bicicletas-imagem span {
  background-color: var(--cor-12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0px 0px 4px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0px;
}

.bicicleta-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicleta-conteudo p,
h2 {
  grid-column: 1/-1;
}

.bicicleta-conteudo p {
  max-width: 45ch;
  margin-bottom: 32px;
}

.bicicleta-conteudo h2 {
  margin-bottom: 20px;
}

.bicicleta-conteudo h2::before {
  content: "";
  display: block;
  background-color: var(--cor-p1);
  width: 12px;
  height: 8px;
  margin-bottom: 8px;
}

.bicicleta-conteudo a {
  grid-column: 2;
  place-self: end;
}

.bicicleta-conteudo li + li {
  margin-top: 16px;
}

.bicicleta-conteudo li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bicicleta-conteudo li img {
  width: 24px;
}

.bicicleta-conteudo a img {
  display: inline-block;
  margin-left: 16px;
  transition: 0.2s;
}

.bicicleta-conteudo a:hover img {
  transform: translateX(4px);
}

@media (max-width: 800px) {
  .bicicletas-bg {
    background: var(--cor-11);
  }
  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .bicicleta-conteudo a {
    grid-column: 1/-1;
    place-self: start;
    margin-top: 32px;
  }
  .bicicletas-imagem span {
    background-color: var(--cor-12);
    padding: 4px 16px 4px 8px;
    font-size: 12px;
  }
}
