.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.33;
  padding: 1rem 2rem;
  background: linear-gradient(#ffbf00, #f2a50c);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: var(--cor-p5);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "poppins";
  font-weight: 600;
  max-width: max-content;
}

.botao:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.secundario {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.33;
  padding: 1rem 2rem;
  background-color: var(--cor-10);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: var(--cor-4);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "poppins";
  font-weight: 600;
  max-width: max-content;
}

.secundario:hover {
  background: var(--cor-8);
}

@media (max-width: 800px) {
  .botao {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
  .secundario {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
}

.link {
  color: var(--cor-p1);
  text-transform: uppercase;
  display: inline-block;
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
}

.link::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: currentColor;
}

.link:hover {
  color: var(--cor-0);
}

.titulo-bg {
  background-color: var(--cor-11);
}

.titulo {
  padding-top: 60px;
  padding-bottom: 60px;
}

.titulo p {
  margin-bottom: 4px;
}

@media (max-width: 800px) {
  .titulo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titulo p {
  font-size: 1rem;
  text-transform: lowercase;
  font-weight: 400;
  }
}