.header-bg {
  background: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}

.header-menu a {
  padding: 1rem 0px;
  display: inline-block;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--cor-0);
  margin-top: 4px;
  position: absolute;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu a {
    background-color: var(--cor-11);
    border-radius: 4px;
    padding: 0.75rem 1rem;
  }
  .header-menu {
    gap: 1.25rem;
  }
  .header-menu a:hover {
    background: var(--cor-10);
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header {
    place-content: center;
  }
  .header-menu {
    gap: 0.75rem;
  }
  .header-menu a {
    padding: 0.5rem 0.75rem;
  }
}
