.seguro-bg {
  background-color: var(--cor-11);
  box-shadow: inset 0 120px var(--cor-0), inset 0 -120px var(--cor-12);
}

.seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.seguro-conteudo {
  padding-top: 180px;
  padding-bottom: 180px;
}

.seguro-conteudo h2 {
  margin-bottom: 32px;
}

.seguro-conteudo p {
  margin-bottom: 20px;
}

.seguro-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 800px) {
  .seguro-bg {
    box-shadow: inset 0 -60px var(--cor-12);
  }
  .seguro {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .seguro-conteudo {
    padding-top: 40px;
    padding-bottom: 40px;
    grid-row: 1;
  }
  .seguro-imagem {
    max-height: 300px;
  }
}
